Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
*.o
*.a
*~
*.exp
*.so
*.so.*
*.a.*
*.o.*
*.in
*.lo
*.la
root/
tags
*.tar
*.tar.*
*.cocaine-plugin
.*.sw*
src/queue/block
src/queue/queue
src/queue/queue-tool
src/testerhead-cpp/testerhead-cpp
src/forward/forward
